DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DATABASE?sslmode=require"
JWT_SECRET="your_jwt_secret_here"
JWT_EXPIRES_IN="7d"
PORT=5291
NODE_ENV=development
UPLOAD_DIR="./uploads"
BLOB_READ_WRITE_TOKEN=""
